.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;

  &__body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    padding: 28px 24px;
  }
}
