<aside class="sidebar">
  <nav class="sidebar__nav">
    <p class="sidebar__section-label">Menu</p>

    <a class="sidebar__item" routerLink="/notes" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="18" height="18">
        <path fill-rule="evenodd" d="M4 4a2 2 0 0 1 2-2h4.586A2 2 0 0 1 12 2.586L15.414 6A2 2 0 0 1 16 7.414V16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4Zm2 6a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H7a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H7Z" clip-rule="evenodd" />
      </svg>
      <span class="sidebar__label">Notes</span>
      <span class="sidebar__count">{{ counts().all }}</span>
    </a>

    <a class="sidebar__item" routerLink="/blog" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="18" height="18">
        <path d="M10.75 16.82A7.462 7.462 0 0 1 10 17c-.314 0-.624-.018-.925-.054 1.687-1.168 2.675-2.948 2.675-4.946 0-2-.99-3.783-2.679-4.95.302-.036.612-.05.929-.05 4.142 0 7 2.754 7 5.5 0 1.8-.997 3.394-2.57 4.334L10.75 16.82ZM1 12.5C1 9.754 3.858 7 8 7c.207 0 .412.009.613.026C6.964 8.144 6 9.731 6 11.5c0 1.768.963 3.354 2.61 4.473A7.547 7.547 0 0 1 8 16c-4.142 0-7-2.754-7-3.5Z" />
        <path fill-rule="evenodd" d="M8 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm4 2.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" clip-rule="evenodd" />
      </svg>
      <span class="sidebar__label">Blog</span>
    </a>

    <div class="sidebar__divider"></div>
    <p class="sidebar__section-label">Filter Notes</p>

    <button
      class="sidebar__item sidebar__item--sub"
      [class.active]="activeFilter() === 'all'"
      (click)="setFilter('all')"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
        <path fill-rule="evenodd" d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 0 1 .628.74v2.288a2.25 2.25 0 0 1-.659 1.59l-4.682 4.683a2.25 2.25 0 0 0-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 0 1 8 18.25v-5.757a2.25 2.25 0 0 0-.659-1.591L2.659 6.22A2.25 2.25 0 0 1 2 4.629V2.34a.75.75 0 0 1 .628-.74Z" clip-rule="evenodd" />
      </svg>
      <span class="sidebar__label">All Notes</span>
      <span class="sidebar__count">{{ counts().all }}</span>
    </button>

    <button
      class="sidebar__item sidebar__item--sub"
      [class.active]="activeFilter() === 'starred'"
      (click)="setFilter('starred')"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z" clip-rule="evenodd" />
      </svg>
      <span class="sidebar__label">Starred</span>
      <span class="sidebar__count">{{ counts().starred }}</span>
    </button>

    <button
      class="sidebar__item sidebar__item--sub"
      [class.active]="activeFilter() === 'archived'"
      (click)="setFilter('archived')"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
        <path d="M2 3a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2Z" />
        <path fill-rule="evenodd" d="M2 7.5h16l-.811 7.71a2 2 0 0 1-1.99 1.79H4.802a2 2 0 0 1-1.99-1.79L2 7.5ZM7 11a1 1 0 0 1 1-1h4a1 1 0 1 1 0 2H8a1 1 0 0 1-1-1Z" clip-rule="evenodd" />
      </svg>
      <span class="sidebar__label">Archive</span>
      <span class="sidebar__count">{{ counts().archived }}</span>
    </button>
  </nav>
</aside>
